<div class="h-full w-full">
  <div
    class="h-[10%] text-white flex items-center justify-center border-b border-gray-600"
  >
    <div class="text-3xl font-semibold">
      <span>Tasks {{ tasks.length }}</span>
    </div>
  </div>
  <div
    class="max-h-[90%] flex flex-wrap overflow-auto p-2 scrollbar-thin scrollbar-thumb-gray-800 scrollbar-track-transparent"
  >
    <div
      *ngFor="let task of tasks"
      class="h-[200px] w-[300px] p-2 m-5 text-white glass rounded-md italic border-t-8"
    >
      <div class="flex justify-between border-b border-gray-600 p-1">
        <input
          class="text-2xl max-w-[85%] bg-transparent overflow-hidden text-ellipsis italic outline-none disabled:opacity-50"
          type="text"
          value="{{ task.title }}"
          disabled
        />
        <span class="text-gray-400">{{ task.time }}</span>
      </div>
      <div class="p-1 font-extralight">
        <textarea
          class="h-full w-full p-1 pr-3 bg-transparent text-ellipsis italic outline-none disabled:opacity-50 resize-none overflow-auto scrollbar-thin scrollbar-thumb-gray-800 scrollbar-track-transparent"
          rows="5"
          >{{ task.description }}</textarea
        >
      </div>
      <button
        class="absolute bottom-2 right-2 cursor-pointer"
        mat-flat-button
        [matMenuTriggerFor]="appMenu"
      >
        <span class="material-symbols-outlined"> more_horiz </span>
      </button>
      <mat-menu #appMenu="matMenu" yPosition="above" xPosition="before">
        <button mat-menu-item>
          <div class="flex items-center">
            <span class="material-symbols-outlined mr-2"> edit </span>
            <span>To edit</span>
          </div>
        </button>
        <button mat-menu-item>
          <div class="flex items-center">
            <span class="material-symbols-rounded mr-2"> delete </span>
            <span>To delete</span>
          </div>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="absolute bottom-5 right-5">
    <span
      class="material-symbols-outlined text-5xl text-white ml-2 mt-2 cursor-pointer transition-all active:scale-95"
    >
      playlist_add
    </span>
  </div>
</div>
